@font-face {
  font-family: font-main;
  src: url("../resources/fonts/barlow-regular.ttf"); }

@font-face {
  font-family: font-main-med;
  src: url("../resources/fonts/barlow-medium.ttf"); }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

@keyframes entrada {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.03); }
  100% {
    transform: scale(1); } }

.card_anima, .trilogia_main .trilogia_div .card {
  transition: all 0.25s;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
  cursor: default; }

.tapa_anima1 {
  animation-name: entrada;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-delay: 0s; }

.tapa_anima2 {
  animation-name: entrada;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-delay: 0.5s; }

.tapa_anima3 {
  animation-name: entrada;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-delay: 1s; }

h1,
h2,
h3 {
  font-family: font-main, serif; }

h4,
h5,
h6 {
  font-family: font-main-med, serif; }

p {
  font-size: 16px; }

.txt_destacado {
  font-family: font-main, serif;
  color: #005cb3;
  font-size: 18px;
  font-weight: bold;
  font-style: italic; }

.contenedor {
  max-width: 992px;
  height: 100%;
  width: 100%; }

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; }

button {
  color: white;
  border: none;
  background-color: #005cb3;
  border-radius: 10px;
  padding: 10px 30PX;
  font-weight: 600; }
  button:hover {
    background-color: #003f79; }

header {
  background-color: #f8f9fa;
  border-bottom: 2px #d8d8d8 solid; }
  header nav {
    padding: 0px 40px !important; }
    header nav .container-fluid {
      max-width: 992px; }
      header nav .container-fluid a {
        font-family: font-main, serif;
        font-weight: 800; }
      header nav .container-fluid .navbar-nav li {
        margin: 20px;
        font-size: 18px; }
        header nav .container-fluid .navbar-nav li .nav-link {
          text-transform: uppercase; }
        header nav .container-fluid .navbar-nav li .nav-link.active {
          color: #005cb3; }

footer {
  padding: 20px;
  border-top: 1px solid #d8d8d8;
  display: flex;
  justify-content: space-between; }
  footer div {
    align-content: center; }
    footer div p {
      font-size: 12px; }
  footer .redes ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    footer .redes ul li {
      margin: 0px 20px; }

.home_main {
  padding: 0px 60px;
  color: white;
  height: 100vh;
  background-image: url("../resources/space2.jpg");
  background-size: cover;
  background-position: center; }
  .home_main .contenedor {
    align-items: flex-start; }
    .home_main .contenedor .contenido {
      max-width: 700px;
      padding: 150px 0px; }
      .home_main .contenedor .contenido p {
        font-size: 20px;
        font-weight: lighter;
        padding: 20px 0px; }
      .home_main .contenedor .contenido .home_button {
        color: white;
        border: solid 1px white;
        background-color: #51515125;
        border-radius: 10px;
        padding: 10px 30PX;
        font-weight: 600; }
        .home_main .contenedor .contenido .home_button:hover {
          background-color: rgba(255, 255, 255, 0.074); }

.autor_main {
  background-image: url("../resources/space1.jpg");
  background-size: cover;
  background-position: center;
  justify-content: flex-start; }
  .autor_main .autor_div {
    display: flex;
    background-color: white;
    max-width: 992px; }
    .autor_main .autor_div div img {
      height: 650px; }
    .autor_main .autor_div .autor_div_text {
      padding: 40px 20px; }

@media (max-width: 850px) {
  .autor_div {
    flex-direction: column; } }

.trilogia_main {
  background-image: url("../resources/space1.jpg");
  background-size: cover;
  background-position: center; }
  .trilogia_main .trilogia_div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 60px; }
    .trilogia_main .trilogia_div .card {
      border: none;
      margin: 20px; }
      .trilogia_main .trilogia_div .card:hover {
        transform: scale(1.04);
        border: none; }
      .trilogia_main .trilogia_div .card .card-body {
        padding: 20px; }
        .trilogia_main .trilogia_div .card .card-body h5 {
          font-family: font-main, serif;
          font-weight: bolder; }

.eventos_main {
  height: 100vh;
  background-image: url("../resources/space1.jpg");
  background-size: cover;
  background-position: center; }
  .eventos_main .eventos {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    max-width: 900px;
    margin-top: 40px; }
    .eventos_main .eventos .eventos_card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      box-shadow: 1px 1px 5px 3px #51515125;
      border-radius: 8px;
      padding: 20px;
      margin: 0px 30px 30px 0px;
      width: 250px;
      background-color: white; }
    .eventos_main .eventos h4 {
      margin-bottom: 0px; }
    .eventos_main .eventos p {
      margin-bottom: 10px;
      font-size: 12px; }
    .eventos_main .eventos .subinfo {
      color: #808080;
      font-size: 20px;
      line-height: 1; }
    .eventos_main .eventos .eventos_past {
      background-color: #d8d8d8; }

@media (max-width: 900px) {
  .eventos {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 600px) {
  .eventos {
    grid-template-columns: repeat(1, 1fr); } }

.contacto_main {
  padding: 0px 60px; }
  .contacto_main .contacto_body {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 32px;
    margin: 60px 0;
    max-width: 992px; }
    .contacto_main .contacto_body .info .locales {
      margin: 24px 0px; }
      .contacto_main .contacto_body .info .locales h3 {
        color: #005cb3; }
    .contacto_main .contacto_body .contacto_form {
      padding: 24px;
      background-color: #d8d8d8;
      border-radius: 10px;
      max-width: 400px;
      height: fit-content; }

@media (max-width: 992px) {
  .contacto_main .contacto_body {
    grid-template-columns: 1fr;
    max-width: 100%; } }

.sinopsis_main {
  padding: 0px 60px;
  height: 100vh; }
  .sinopsis_main .contenedor {
    align-items: flex-start; }
    .sinopsis_main .contenedor h3 {
      margin: 30px 0px 10px 0px; }
