// ESTILOS TEXTOS
h1,
h2,
h3 {
    font-family: font-main;
}

h4,
h5,
h6 {
    font-family: font-main-med;
}

p {
    font-size: 16px;
}

.txt_destacado {
    font-family: font-main;
    color: $maincolor;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

// ESTILOS ELEMENTOS
.contenedor {
    max-width: 992px;
    height: 100%;
    width: 100%;
}

.contenedor_hoja {
    background-color: white;
    max-width: 992px;
}

.fondo_space {
    // height: 100vh;
    background-image: url('../resources/space1.jpg');
    background-size: cover;
    background-position: center;
    justify-content: flex-start;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button {
    color: white;
    border: none;
    background-color: $maincolor;
    border-radius: 10px;
    padding: 10px 30PX;
    font-weight: 600;

    &:hover {
        background-color: $maincolordark;
    }
}