// NAVBAR
header {
    background-color: $whitish;
    border-bottom: 2px $grey_s solid;

    nav {
        padding: 0px 40px !important;

        .container-fluid {
            max-width: 992px;
            
            a {
                font-family: font-main, serif;
                font-weight: 800;
            }

            .navbar-nav {
                li {
                    margin: 20px;
                    font-size: 18px;

                    .nav-link {
                        text-transform: uppercase;
                    }

                    .nav-link.active {
                        color: $maincolor;
                    }
                }
            }
        }
    }

}

// FOOTER
footer {
    font-size: 12px;
    padding: 20px;
    border-top: 1px solid $grey_s;
}