.home_main {
    color: white;
    height: 100vh;
    padding: 0px 60px;
    display: flex;
    align-items: center;
    background-image: url('../resources/space2.jpg');
    background-size: cover;
    background-position: center;

    div {
        display: block;
        align-items: left;
        max-width: 1400px;

        p {
            font-size: 20px;
            font-weight: lighter;
            padding: 20px 0px;
        }
    }

    .home_button {
        color: white;
        border: solid 1px white;
        background-color: $blacktranspa;
        border-radius: 10px;
        padding: 10px 30PX;
        font-weight: 600;

        &:hover {
            background-color: $whitetranspa;
        }
    }
}