.container {
    .autor_div {
        display: flex;

        div {
            img {
                height: 90vh;
            }
        }

        .autor_div_text {
            padding: 40px 20px;
            max-width: 650px;
        }
    }
}