.autor_main {
    @extend .fondo_space;

    .autor_content {
        @extend .contenedor_hoja;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .img_contenedor {

            img {
                width: 100%;
            }
        }

        .autor_content_text {
            padding: 40px;
            text-align: left;
        }
    }
}

// Media Queries
@media (max-width: 900px) {
    .autor_main {
        .autor_content {
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 1fr;

            .img_contenedor {
                overflow: hidden;
            }
        }
    }
}

@media (max-width: 410px) {
    .autor_main {
        .autor_content {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;

            .img_contenedor {
                overflow: auto;
                height: 100%;
            }
        }
    }
}