.autor_main {
    padding: 0;

    .autor_div {
        display: flex;

        div {
            img {
                width: 400px;
            }
        }

        .autor_div_text {
            padding: 40px 20px;
            max-width: 650px;
        }
    }
}