.contacto_body {
    display: grid;
    grid-template-columns: 500px 400px;

    .contacto_form{
        margin-left: 30px;
    }
}


// Media Queries

@media (max-width: 960px) {
.contacto_body {
    grid-template-columns: 1fr;
    }
}

@media (max-width: 960px) {
.contacto_form{
    margin-left: 0px;
    max-width: 400px;
    }
}