.home_main {
    padding: 0px 60px;
    color: white;
    height: 100vh;
    background-image: url('../resources/space2.jpg');
    background-size: cover;
    background-position: center;

    .contenedor {
        align-items: flex-start;

        .contenido {
            max-width: 700px;
            padding: 150px 0px;

            p {
                font-size: 20px;
                font-weight: lighter;
                padding: 20px 0px;
            }

            .home_button {
                color: white;
                border: solid 1px white;
                background-color: $blacktranspa;
                border-radius: 10px;
                padding: 10px 30PX;
                font-weight: 600;

                &:hover {
                    background-color: $whitetranspa;
                }
            }
        }

    }
}