.sinopsis_main {
    @extend .fondo_space;

    .sinopsis_content {
        padding: 60px 200px 60px 60px;
        @extend .contenedor_hoja;
    }

        .info {
            margin: 48px 0px;

            h3 {
                color: $maincolor;
            }
        }
}

// Media Queries
@media (max-width: 768px) {
    // NO ANDA
    .sinopsis_content {
        padding: 60px 60px 60px 60px;
    }
}