.trilogia_main {
    background-image: url('../resources/space1.jpg');
    background-size: cover;
    background-position: center;

    .trilogia_div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 60px;

        .card {
            border: none;
            margin: 20px;
            @extend .card_anima;

            &:hover {
                transform: scale(1.04);
                border: none;
            }

            .card-body {
                padding: 20px;

                h5 {
                    font-family: font-main, serif;
                    font-weight: bolder;
                }
            }
        }
    }
}