.trilogia_main {
    background-image: url('../resources/space1.jpg');
    background-size: cover;
    background-position: center;

    .trilogia_div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 60px;

        .card {
            border: solid 1px rgb(70, 70, 70);
            margin: 20px;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.322);
            @extend .card_anima;

            &:hover {
                transform: scale(1.04);
                border: none;
            }

            .card-body {
                padding: 20px;
            }
        }
    }
}