@font-face {
    font-family: font-main serif;
    src: url('../../resources/fonts/barlow-regular.ttf');
}

@font-face {
    font-family: font-main-med serif;
    src: url('../../resources/fonts/barlow-medium.ttf');
}