@font-face {
    font-family: font-main sans-serif;
    src: url('../../resources/fonts/barlow-regular.ttf');
}

@font-face {
    font-family: font-main-med sans-serif;
    src: url('../../resources/fonts/barlow-medium.ttf');
}